<button (click)="getAll()">Get All Users</button>
<br><br>

<button (click)="getTest()">Get Test Users</button>
<br><br>

<button (click)="getWithPagination()">Get Users With Pagination</button>
<br><br>

<nz-table #sortTable [nzData]="listOfUsers" nzTableLayout="fixed">
    <thead>
      <tr>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
          {{ column.title }}
        </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of listOfUsers">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.creationDate }}</td>
        <td>{{ user.active }}</td>
        <td>
          <a>Action</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="deleteUserWithId(user.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>